In [ ]:
import yfinance as yf

## Info regarding API

- Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]
- ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']

In [40]:

nifty50 = yf.Ticker("^NSEI")
intraday_data_1m = nifty50.history(interval="1m", period="max")
intraday_data_5m = nifty50.history(interval="5m", period="max")

## Notes

- We can only have 2 months of Data for 1 min / 5 mins 


### Major Indian Indices on Yahoo Finance
1. NIFTY 50 - ^NSEI
2. SENSEX (BSE) - ^BSESN
3. NIFTY IT - ^CNXIT
4. NIFTY Bank - ^NSEBANK
5. NIFTY Next 50 - ^NSEI50
6. NIFTY Pharma - ^CNXPHARMA
7. NIFTY FMCG - ^CNXFMCG
8. NIFTY Auto - ^CNXAUTO
8. NIFTY Metal - ^CNXMETAL
9. NIFTY Financial Services - ^CNXFINANCE
10. NIFTY Realty - ^CNXREALTY


### Popular Indian Companies on Yahoo Finance

| Company Name                          | Yahoo Finance Ticker Symbol |
|---------------------------------------|-----------------------------|
| Reliance Industries                   | `RELIANCE.NS`              |
| Tata Consultancy Services (TCS)       | `TCS.NS`                   |
| Infosys                               | `INFY.NS`                  |
| HDFC Bank                             | `HDFCBANK.NS`              |
| ICICI Bank                            | `ICICIBANK.NS`             |
| Hindustan Unilever                    | `HINDUNILVR.NS`            |
| State Bank of India                   | `SBIN.NS`                  |
| Bharti Airtel                         | `BHARTIARTL.NS`            |
| Kotak Mahindra Bank                   | `KOTAKBANK.NS`             |
| Bajaj Finance                         | `BAJFINANCE.NS`            |
| Maruti Suzuki                         | `MARUTI.NS`                |
| HCL Technologies                      | `HCLTECH.NS`               |
| Wipro                                 | `WIPRO.NS`                 |
| Adani Green Energy                    | `ADANIGREEN.NS`            |
| Tata Steel                            | `TATASTEEL.NS`             |
| Axis Bank                             | `AXISBANK.NS`              |
| Tech Mahindra                         | `TECHM.NS`                 |
| Asian Paints                          | `ASIANPAINT.NS`            |
| Larsen & Toubro                       | `LT.NS`                    |
| Titan Company                         | `TITAN.NS`                 |
| Mahindra & Mahindra                   | `M&M.NS`                   |
| Sun Pharmaceutical                    | `SUNPHARMA.NS`             |
| UltraTech Cement                      | `ULTRACEMCO.NS`            |
| NTPC                                  | `NTPC.NS`                  |
| Tata Motors                           | `TATAMOTORS.NS`            |
| Power Grid Corporation                | `POWERGRID.NS`             |
| Oil and Natural Gas Corporation       | `ONGC.NS`                  |
| Nestle India                          | `NESTLEIND.NS`             |
| IndusInd Bank                         | `INDUSINDBK.NS`            |
| Bajaj Auto                            | `BAJAJ-AUTO.NS`            |

In [45]:
intraday_data_1m.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1861 entries, 2024-11-05 09:15:00+05:30 to 2024-11-11 15:29:00+05:30
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1861 non-null   float64
 1   High          1861 non-null   float64
 2   Low           1861 non-null   float64
 3   Close         1861 non-null   float64
 4   Volume        1861 non-null   int64
 5   Dividends     1861 non-null   float64
 6   Stock Splits  1861 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 116.3 KB

In [42]:
intraday_data_1m.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-11-05 09:15:00+05:30,23916.500000,23960.650391,23909.199219,23924.599609,0,0.0,0.0
2024-11-05 09:16:00+05:30,23922.949219,23989.550781,23922.949219,23979.300781,0,0.0,0.0
2024-11-05 09:17:00+05:30,23978.949219,24008.000000,23978.150391,23999.150391,0,0.0,0.0
2024-11-05 09:18:00+05:30,23999.099609,24004.400391,23980.150391,23990.800781,0,0.0,0.0
2024-11-05 09:19:00+05:30,23988.650391,24023.699219,23984.800781,24022.650391,0,0.0,0.0

In [43]:
intraday_data_5m.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3000 entries, 2024-09-13 09:15:00+05:30 to 2024-11-11 15:25:00+05:30
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3000 non-null   float64
 1   High          3000 non-null   float64
 2   Low           3000 non-null   float64
 3   Close         3000 non-null   float64
 4   Volume        3000 non-null   int64
 5   Dividends     3000 non-null   float64
 6   Stock Splits  3000 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 187.5 KB

In [44]:
intraday_data_5m.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-09-13 09:15:00+05:30,25410.650391,25413.150391,25337.300781,25342.699219,0,0.0,0.0
2024-09-13 09:20:00+05:30,25343.300781,25354.500000,25322.800781,25326.750000,0,0.0,0.0
2024-09-13 09:25:00+05:30,25322.199219,25329.849609,25312.800781,25315.900391,0,0.0,0.0
2024-09-13 09:30:00+05:30,25314.949219,25339.849609,25292.599609,25336.900391,0,0.0,0.0
2024-09-13 09:35:00+05:30,25337.550781,25371.750000,25316.349609,25333.400391,0,0.0,0.0

## Thoughts till now

the 5 mins data, as more entires in it since its a proper 2 months data. Need to explore the 1 min one.. since its giving 5 days of data. If we can get 1m interval for 2 months then we will have a good amount of the data. Also I will start saving the data in CSV file 


- Need to create a pool of stocks that we will focus