In [2]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [2]:
market_index = pd.read_csv('raw_data/^NSEI_30_days_data_1m.csv')
sector_index = pd.read_csv('raw_data/^CNXIT_30_days_data_1m.csv')
infy_data = pd.read_csv('raw_data/INFY.NS_30_days_data_1m.csv')
ltim_data = pd.read_csv('raw_data/LTIM.NS_30_days_data_1m.csv')
persistent_data =pd.read_csv('raw_data/PERSISTENT.NS_30_days_data_1m.csv')
tcs_data = pd.read_csv('raw_data/TCS.NS_30_days_data_1m.csv')
wipro_data = pd.read_csv('raw_data/WIPRO.NS_30_days_data_1m.csv')

In [3]:
market_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6355 entries, 0 to 6354
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         6355 non-null   object
 1   Adj Close     6354 non-null   object
 2   Close         6354 non-null   object
 3   High          6354 non-null   object
 4   Low           6354 non-null   object
 5   Open          6354 non-null   object
 6   Volume        6354 non-null   object
 7   PE_Ratio      0 non-null      float64
 8   52_Week_High  6353 non-null   float64
 9   52_Week_Low   6353 non-null   float64
dtypes: float64(3), object(7)
memory usage: 496.6+ KB

In [4]:
market_index.describe()

       PE_Ratio  52_Week_High  52_Week_Low
count       0.0  6.353000e+03      6353.00
mean        NaN  2.627735e+04     20507.75
std         NaN  7.276530e-12         0.00
min         NaN  2.627735e+04     20507.75
25%         NaN  2.627735e+04     20507.75
50%         NaN  2.627735e+04     20507.75
75%         NaN  2.627735e+04     20507.75
max         NaN  2.627735e+04     20507.75

In [5]:
market_index.head(3)

,Price,Adj Close,Close,High,Low,Open,Volume,PE_Ratio,52_Week_High,52_Week_Low
0,Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,NaN,NaN,NaN
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-11-04 03:45:00+00:00,24199.44921875,24199.44921875,24300.19921875,24198.44921875,24300.19921875,0,NaN,26277.35,20507.75

In [6]:
for df in [market_index, sector_index, infy_data, ltim_data, tcs_data, persistent_data, wipro_data]:
    # Rename 'Price' to 'Datetime' (in-place)
    df.rename(columns={'Price' : 'Datetime'}, inplace=True)
    
    # Drop the first two rows (in-place)
    df. drop(index = [0,1], inplace=True)

    # Convert 'Datetime' column to datetime type
    df['Datetime'] = pd.to_datetime(df['Datetime'])

In [15]:
market_index.head()

,Datetime,Adj Close,Close,High,Low,Open,Volume,PE_Ratio,52_Week_High,52_Week_Low
2,2024-11-04 03:45:00+00:00,24199.44921875,24199.44921875,24300.19921875,24198.44921875,24300.19921875,0,NaN,26277.35,20507.75
3,2024-11-04 03:46:00+00:00,24149.75,24149.75,24203.5,24145.19921875,24198.400390625,0,NaN,26277.35,20507.75
4,2024-11-04 03:47:00+00:00,24144.650390625,24144.650390625,24160.0,24123.19921875,24149.400390625,0,NaN,26277.35,20507.75
5,2024-11-04 03:48:00+00:00,24128.25,24128.25,24156.5,24119.5,24141.400390625,0,NaN,26277.35,20507.75
6,2024-11-04 03:49:00+00:00,24115.25,24115.25,24141.44921875,24115.05078125,24130.400390625,0,NaN,26277.35,20507.75

In [16]:
market_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6353 entries, 2 to 6354
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      6353 non-null   datetime64[ns, UTC]
 1   Adj Close     6353 non-null   object
 2   Close         6353 non-null   object
 3   High          6353 non-null   object
 4   Low           6353 non-null   object
 5   Open          6353 non-null   object
 6   Volume        6353 non-null   object
 7   PE_Ratio      0 non-null      float64
 8   52_Week_High  6353 non-null   float64
 9   52_Week_Low   6353 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(3), object(6)
memory usage: 496.5+ KB

In [84]:
market_index.describe()

       PE_Ratio  52_Week_High  52_Week_Low
count       0.0  6.353000e+03      6353.00
mean        NaN  2.627735e+04     20507.75
std         NaN  7.276530e-12         0.00
min         NaN  2.627735e+04     20507.75
25%         NaN  2.627735e+04     20507.75
50%         NaN  2.627735e+04     20507.75
75%         NaN  2.627735e+04     20507.75
max         NaN  2.627735e+04     20507.75

In [85]:
sector_index.head()

,Datetime,Adj Close,Close,High,Low,Open,Volume,PE_Ratio,52_Week_High,52_Week_Low
2,2024-11-04 03:45:00+00:00,40175.6015625,40175.6015625,40322.55078125,40169.25,40253.1484375,0,NaN,44330.6,31320.15
3,2024-11-04 03:46:00+00:00,40154.69921875,40154.69921875,40188.0,40103.69921875,40179.44921875,0,NaN,44330.6,31320.15
4,2024-11-04 03:47:00+00:00,40230.8984375,40230.8984375,40272.94921875,40146.6015625,40151.44921875,0,NaN,44330.6,31320.15
5,2024-11-04 03:48:00+00:00,40181.3984375,40181.3984375,40235.19921875,40166.69921875,40232.3515625,0,NaN,44330.6,31320.15
6,2024-11-04 03:49:00+00:00,40193.5,40193.5,40244.6484375,40165.05078125,40185.19921875,0,NaN,44330.6,31320.15

In [86]:
infy_data.head()

,Datetime,Adj Close,Close,High,Low,Open,Volume,PE_Ratio,52_Week_High,52_Week_Low
2,2024-11-04 03:45:00+00:00,1727.75,1727.75,1738.800048828125,1727.75,1734.1500244140625,320666,28.573517,1991.45,1358.35
3,2024-11-04 03:46:00+00:00,1726.75,1726.75,1727.75,1724.699951171875,1727.3499755859375,127104,28.573517,1991.45,1358.35
4,2024-11-04 03:47:00+00:00,1729.25,1729.25,1731.5,1725.3499755859375,1726.949951171875,79162,28.573517,1991.45,1358.35
5,2024-11-04 03:48:00+00:00,1725.5,1725.5,1729.0999755859375,1724.9000244140625,1729.0999755859375,80434,28.573517,1991.45,1358.35
6,2024-11-04 03:49:00+00:00,1724.050048828125,1724.050048828125,1726.25,1723.699951171875,1725.5,118921,28.573517,1991.45,1358.35

In [ ]:
infy_data['Open'] = pd.to_numeric(infy_data['Open'], errors='coerce')
infy_data['Close'] = pd.to_numeric(infy_data['Close'], errors='coerce')
infy_data['High'] = pd.to_numeric(infy_data['High'], errors='coerce')
infy_data['Low'] = pd.to_numeric(infy_data['Low'], errors='coerce')
infy_data['Volume'] = pd.to_numeric(infy_data['Volume'], errors='coerce')
infy_data['52_Week_High'] = pd.to_numeric(infy_data['52_Week_High'], errors='coerce')
infy_data["Is_52_week_high"] = (infy_data['Open'] >= infy_data['52_Week_High']).astype(int)
infy_data["Is_52_week_low"] = (infy_data['Open'] <= infy_data['52_Week_Low']).astype(int)
infy_data["Is_high"] = (infy_data['Open'] >= infy_data['High']).astype(int)
infy_data["Is_low"] = (infy_data['Open'] <= infy_data['Low']).astype(int)
infy_data['Maket_index'] = pd.to_numeric(market_index['Open'])
infy_data['Sector_index'] = pd.to_numeric(sector_index['Open'])

In [99]:

# 1. Simple Moving Average (SMA)
infy_data['SMA_20'] = infy_data['Close'].rolling(window=20).mean()  # 20-day SMA
infy_data['SMA_50'] = infy_data['Close'].rolling(window=50).mean()  # 50-day SMA

# 2. Exponential Moving Average (EMA)
infy_data['EMA_20'] = infy_data['Close'].ewm(span=20, adjust=False).mean()  # 20-day EMA
infy_data['EMA_50'] = infy_data['Close'].ewm(span=50, adjust=False).mean()  # 50-day EMA

# 3. Bollinger Bands
# Middle band: 20-day SMA
# Upper band: 20-day SMA + 2 * 20-day rolling standard deviation
# Lower band: 20-day SMA - 2 * 20-day rolling standard deviation
infy_data['BB_upper'] = infy_data['SMA_20'] + 2 * infy_data['Close'].rolling(window=20).std()
infy_data['BB_lower'] = infy_data['SMA_20'] - 2 * infy_data['Close'].rolling(window=20).std()

# 4. Relative Strength Index (RSI)
delta = infy_data['Close'].diff()
gain = (delta.where(delta > 0, 0)).rolling(window=14).mean()
loss = (-delta.where(delta < 0, 0)).rolling(window=14).mean()

rs = gain / loss
infy_data['RSI'] = 100 - (100 / (1 + rs))

# 5. Moving Average Convergence Divergence (MACD)
# MACD = 12-day EMA - 26-day EMA
infy_data['MACD'] = infy_data['EMA_20'] - infy_data['EMA_50']

# Creating the traget and delta traget
infy_data['Target'] = infy_data['Close'].shift(-1)
infy_data['Delta_Target'] = infy_data['Target'] - infy_data['Close']

infy_data = infy_data.dropna(subset=['Target', 'Delta_Target'])
infy_data = infy_data.drop('Close', axis=1)
infy_data = infy_data.drop('Adj Close', axis=1)

KeyError: 'Close'

## Making a forloop for all of this

In [7]:
# Define the DataFrames and their names
dataframes = [market_index, sector_index, infy_data, ltim_data, tcs_data, persistent_data, wipro_data]
names = ["MARKET_DATA", "SECTOR_DATA", "INFY_DATA", "LTIM_DATA", "TCS_DATA", "PERSISTENT_DATA", "WIPRO_DATA"]

# Iterate through both DataFrames and their names
for df, name in zip(dataframes, names):
    # Refactoring the data
    df['Open'] = pd.to_numeric(df['Open'], errors='coerce')
    df['Close'] = pd.to_numeric(df['Close'], errors='coerce')
    df['High'] = pd.to_numeric(df['High'], errors='coerce')
    df['Low'] = pd.to_numeric(df['Low'], errors='coerce')
    df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')
    df['52_Week_High'] = pd.to_numeric(df['52_Week_High'], errors='coerce')
    df["Is_52_week_high"] = (df['Open'] >= df['52_Week_High']).astype(int)
    df["Is_52_week_low"] = (df['Open'] <= df['52_Week_Low']).astype(int)
    df["Is_high"] = (df['Open'] >= df['High']).astype(int)
    df["Is_low"] = (df['Open'] <= df['Low']).astype(int)
    df['Maket_index'] = pd.to_numeric(market_index['Open'])
    df['Sector_index'] = pd.to_numeric(sector_index['Open'])

    
    # 1. Simple Moving Average (SMA)
    df['SMA_20'] = df['Close'].rolling(window=20).mean()  # 20-day SMA
    df['SMA_50'] = df['Close'].rolling(window=50).mean()  # 50-day SMA

    # 2. Exponential Moving Average (EMA)
    df['EMA_20'] = df['Close'].ewm(span=20, adjust=False).mean()  # 20-day EMA
    df['EMA_50'] = df['Close'].ewm(span=50, adjust=False).mean()  # 50-day EMA

    # 3. Bollinger Bands
    # Middle band: 20-day SMA
    # Upper band: 20-day SMA + 2 * 20-day rolling standard deviation
    # Lower band: 20-day SMA - 2 * 20-day rolling standard deviation
    df['BB_upper'] = df['SMA_20'] + 2 * df['Close'].rolling(window=20).std()
    df['BB_lower'] = df['SMA_20'] - 2 * df['Close'].rolling(window=20).std()

    # 4. Relative Strength Index (RSI)
    delta = df['Close'].diff()
    gain = (delta.where(delta > 0, 0)).rolling(window=14).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=14).mean()

    rs = gain / loss
    df['RSI'] = 100 - (100 / (1 + rs))

    # 5. Moving Average Convergence Divergence (MACD)
    # MACD = 12-day EMA - 26-day EMA
    df['MACD'] = df['EMA_20'] - df['EMA_50']

    # Creating the traget and delta traget
    df['Target'] = df['Open'].shift(-1)
    df['Delta_Target'] = df['Target'] - df['Open']

    df.dropna(subset=['Target', 'Delta_Target'], inplace=True)
    df.drop('Close', axis=1, inplace=True)
    df.drop('Adj Close', axis=1,inplace=True)
    df.drop('High', axis=1,inplace=True)
    df.drop('Low', axis=1,inplace=True)
    df.to_csv(f'Dataset/{name}.csv', index=False)

In [18]:
infy_data.head()

,Datetime,Open,Volume,PE_Ratio,52_Week_High,52_Week_Low,Is_52_week_high,Is_52_week_low,Is_high,Is_low,...,SMA_20,SMA_50,EMA_20,EMA_50,BB_upper,BB_lower,RSI,MACD,Target,Delta_Target
2,2024-11-04 03:45:00+00:00,1734.150024,320666,28.573517,1991.45,1358.35,0,0,0,0,...,NaN,NaN,1727.750000,1727.750000,NaN,NaN,NaN,0.000000,1726.750000,-1.000000
3,2024-11-04 03:46:00+00:00,1727.349976,127104,28.573517,1991.45,1358.35,0,0,0,0,...,NaN,NaN,1727.654762,1727.710784,NaN,NaN,NaN,-0.056022,1729.250000,2.500000
4,2024-11-04 03:47:00+00:00,1726.949951,79162,28.573517,1991.45,1358.35,0,0,0,0,...,NaN,NaN,1727.806689,1727.771146,NaN,NaN,NaN,0.035544,1725.500000,-3.750000
5,2024-11-04 03:48:00+00:00,1729.099976,80434,28.573517,1991.45,1358.35,0,0,1,0,...,NaN,NaN,1727.587005,1727.682081,NaN,NaN,NaN,-0.095077,1724.050049,-1.449951
6,2024-11-04 03:49:00+00:00,1725.500000,118921,28.573517,1991.45,1358.35,0,0,0,0,...,NaN,NaN,1727.250152,1727.539649,NaN,NaN,NaN,-0.289497,1727.550049,3.500000

## Test Data

In [12]:
market_index_test = pd.read_csv('raw_testdata/Test_^NSEI_30_days_data_1m.csv')
sector_index_test = pd.read_csv('raw_testdata/Test_^CNXIT_30_days_data_1m.csv')
hcl_data_test = pd.read_csv('raw_testdata/Test_HCLTECH.NS_30_days_data_1m.csv')
infy_data_test = pd.read_csv('raw_testdata/Test_INFY.NS_30_days_data_1m.csv')
ltim_data_test = pd.read_csv('raw_testdata/Test_LTIM.NS_30_days_data_1m.csv')
persistent_data_test =pd.read_csv('raw_testdata/Test_PERSISTENT.NS_30_days_data_1m.csv')
tcs_data_test = pd.read_csv('raw_testdata/Test_TCS.NS_30_days_data_1m.csv')
wipro_data_test = pd.read_csv('raw_testdata/Test_WIPRO.NS_30_days_data_1m.csv')

In [13]:
for df in [market_index_test, sector_index_test, infy_data_test, ltim_data_test, tcs_data_test, persistent_data_test, wipro_data_test, hcl_data_test]:
    # Rename 'Price' to 'Datetime' (in-place)
    df.rename(columns={'Price' : 'Datetime'}, inplace=True)
    
    # Drop the first two rows (in-place)
    df. drop(index = [0,1], inplace=True)

    # Convert 'Datetime' column to datetime type
    df['Datetime'] = pd.to_datetime(df['Datetime'])

In [14]:
# Define the DataFrames and their names
dataframes = [market_index_test, sector_index_test, infy_data_test, ltim_data_test, tcs_data_test, persistent_data_test, wipro_data_test, hcl_data_test]
names = ["MARKET_DATA_TEST", "SECTOR_DATA_TEST", "INFY_DATA_TEST", "LTIM_DATA_TEST", "TCS_DATA_TEST", "PERSISTENT_DATA_TEST", "WIPRO_DATA_TEST", 'HCL_DATA_TEST']

# Iterate through both DataFrames and their names
for df, name in zip(dataframes, names):
    # Refactoring the data
    df['Open'] = pd.to_numeric(df['Open'], errors='coerce')
    df['Close'] = pd.to_numeric(df['Close'], errors='coerce')
    df['High'] = pd.to_numeric(df['High'], errors='coerce')
    df['Low'] = pd.to_numeric(df['Low'], errors='coerce')
    df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')
    df['52_Week_High'] = pd.to_numeric(df['52_Week_High'], errors='coerce')
    df["Is_52_week_high"] = (df['Open'] >= df['52_Week_High']).astype(int)
    df["Is_52_week_low"] = (df['Open'] <= df['52_Week_Low']).astype(int)
    df["Is_high"] = (df['Open'] >= df['High']).astype(int)
    df["Is_low"] = (df['Open'] <= df['Low']).astype(int)
    df['Maket_index'] = pd.to_numeric(market_index_test['Open'])
    df['Sector_index'] = pd.to_numeric(sector_index_test['Open'])

    
    # 1. Simple Moving Average (SMA)
    df['SMA_20'] = df['Close'].rolling(window=20).mean()  # 20-day SMA
    df['SMA_50'] = df['Close'].rolling(window=50).mean()  # 50-day SMA

    # 2. Exponential Moving Average (EMA)
    df['EMA_20'] = df['Close'].ewm(span=20, adjust=False).mean()  # 20-day EMA
    df['EMA_50'] = df['Close'].ewm(span=50, adjust=False).mean()  # 50-day EMA

    # 3. Bollinger Bands
    # Middle band: 20-day SMA
    # Upper band: 20-day SMA + 2 * 20-day rolling standard deviation
    # Lower band: 20-day SMA - 2 * 20-day rolling standard deviation
    df['BB_upper'] = df['SMA_20'] + 2 * df['Close'].rolling(window=20).std()
    df['BB_lower'] = df['SMA_20'] - 2 * df['Close'].rolling(window=20).std()

    # 4. Relative Strength Index (RSI)
    delta = df['Close'].diff()
    gain = (delta.where(delta > 0, 0)).rolling(window=14).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=14).mean()

    rs = gain / loss
    df['RSI'] = 100 - (100 / (1 + rs))

    # 5. Moving Average Convergence Divergence (MACD)
    # MACD = 12-day EMA - 26-day EMA
    df['MACD'] = df['EMA_20'] - df['EMA_50']

    # Creating the traget and delta traget
    df['Target'] = df['Open'].shift(-1)
    df['Delta_Target'] = df['Target'] - df['Open']

    df.dropna(subset=['Target', 'Delta_Target'], inplace=True)
    df.drop('Close', axis=1, inplace=True)
    df.drop('Adj Close', axis=1,inplace=True)
    df.drop('High', axis=1,inplace=True)
    df.drop('Low', axis=1,inplace=True)
    df.to_csv(f'Test_Dataset/{name}.csv', index=False)

# Some other stats that I didn't used

In [ ]:
# Signal Line: 9-day EMA of the MACD
infy_data['MACD_signal'] = infy_data['MACD'].ewm(span=9, adjust=False).mean()

# 6. Average True Range (ATR) - Volatility measure
high_low = infy_data['High'] - infy_data['Low']
high_close = (infy_data['High'] - infy_data['Close'].shift()).abs()
low_close = (infy_data['Low'] - infy_data['Close'].shift()).abs()

# True Range (TR)
true_range = pd.concat([high_low, high_close, low_close], axis=1)
infy_data['ATR'] = true_range.max(axis=1).rolling(window=14).mean()

# 7. On-Balance Volume (OBV) - Momentum Indicator
infy_data['OBV'] = np.where(infy_data['Close'] > infy_data['Close'].shift(), infy_data['Volume'], 
                            np.where(infy_data['Close'] < infy_data['Close'].shift(), -infy_data['Volume'], 0))

# 8. Stochastic Oscillator (%K and %D)
low_14 = infy_data['Low'].rolling(window=14).min()
high_14 = infy_data['High'].rolling(window=14).max()

# %K = (Close - 14-day Low) / (14-day High - 14-day Low) * 100
infy_data['%K'] = (infy_data['Close'] - low_14) / (high_14 - low_14) * 100

# %D = 3-day SMA of %K
infy_data['%D'] = infy_data['%K'].rolling(window=3).mean()

# 9. Commodity Channel Index (CCI)
typical_price = (infy_data['High'] + infy_data['Low'] + infy_data['Close']) / 3
sma_typical_price = typical_price.rolling(window=20).mean()
mean_deviation = (typical_price - sma_typical_price).abs().rolling(window=20).mean()
infy_data['CCI'] = (typical_price - sma_typical_price) / (0.015 * mean_deviation)